body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: beige;
}
#jumbo {
    background-color: darkgray;
}

.card-body {
    background-color: cadetblue;

}

.card-header {
    background-color: darkcyan;
}


.list-group-item {
    background-color: #e1ebeb;
}